.footer {
    background-color: grey;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

h4 {
    padding-top: .2em;
    padding-bottom: 0.2em;
    padding-left: 4em;
}